:root {
    --white: hsl(0, 0%, 100%);
    --cream: hsl(30, 38%, 92%);
    --dark-cyan: hwb(158 24% 50%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.4rem;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cream);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.product-image img {
    display: flex;
    content: url(img/image-product-desktop.jpg);
    height: 44rem;
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
}

.product {
    display: flex;
    flex-direction: row;
    background-color: var(--white);
    border-radius: 0.7rem;
}

.product-description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2.3rem;
    padding: 3rem;
    max-width: 29rem;
}

.buy-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-cyan);
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 0.7rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--white);
}

.buy-button:hover {
    background-color: var(--very-dark-blue);
}

.category {
    font-weight: 500;
    text-transform: uppercase;
    color: var(--dark-grayish-blue);
    font-size: 1.2rem;
    letter-spacing: 0.4rem;
}

.name {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Fraunces';
    line-height: 3rem;
    color: var(--very-dark-blue);
}

.description {
    line-height: 2.3rem;
    color: var(--dark-grayish-blue);
}

.price {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.price-1 {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Fraunces';
    color: var(--dark-cyan);
}

.price-2 {
    color: var(--dark-grayish-blue);
    text-decoration: line-through;
    font-size: 1.2rem;
}

/* Mobile */

@media only screen and (max-width: 768px) {
    .product {
        flex-direction: column;
    }

    .product-image img {
        display: flex;
        content: url(img/image-product-mobile.jpg);
        height: 25rem;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0.7rem;
        border-top-right-radius: 0.7rem;
    }

    .product-description {
        max-width: 35rem;
    }
}